<!DOCTYPE html>
<html>
<head>
    <title>Episode Details</title>
    <style>
        body {
            background-image: url('https://images4.alphacoders.com/133/1335396.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
            margin: 0;
        }

        .content {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 5px;
            text-align: center;
        }

        h1 {
            color: #333;
            font-size: 28px;
            margin-bottom: 10px;
        }

        h2 {
            color: #333;
            font-size: 24px;
        }

        p {
            color: #555;
            font-size: 18px;
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: #007BFF;
            font-size: 18px;
        }

        a:hover {
            color: #0056b3;
        }
    </style>
</head>
<body>
<div class="content">
    <h1>Episode Details</h1>
    <h2>{{ article.getName() }}</h2>
    <p>Air Date: {{ article.getAirDate().format('Y-m-d') }}</p>
    <p>Episode: {{ article.getEpisode() }}</p>
    <a href="/articles">Back to Episode List</a>
</div>
</body>
</html>
